<ListView [items]="groceries" row="1" class="small-spacing" [class.visible]="!isLoading">
    <template let-item="item">
        <GridLayout columns="auto, *, auto" class="item small-padding">
            <StackLayout col="0" verticalAlignment='center'>
                <CheckBox [checked]="item.status === 'complete'" (tap)="onToggle(item)"></CheckBox>
            </StackLayout>
            <StackLayout col="1" corientation="horizontal" verticalAlignment='center'>
                <Label [text]="item.name"></Label>
            </StackLayout>
            <StackLayout (tap)="onDelete(item)" col="2" orientation="horizontal" verticalAlignment='center' class="delete-container">
                <Image src="res://delete"></Image>
            </StackLayout>
        </GridLayout>
    </template>
</ListView>